---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>vBlogDeCafe - Nosotros</title>
    </head>
    <body>
        <a href="/">Inicio</a>
        <a href="/abaut/">Nosotros</a>
        <a href="/blog">vBlog</a>

        <h1>Sobre Nosotros</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur, iusto sed obcaecati numquam sit necessitatibus
            voluptate distinctio assumenda inventore. Voluptates officia neque
            ipsum dolorem nam tenetur harum. Provident, voluptatibus nihil.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
            ipsam, fugit id, quaerat fuga aliquid ipsa dolore ut perferendis sed
            a porro in saepe eveniet sequi repellendus. Quod, cupiditate illum.
        </p>
    </body>
</html>
