---
import "../styles/globales.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "vBlogDeCafe";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h2 class="font-medium text-center mt-4">Cafe, un viaje cultural!</h2>

		<article>
			<h2>El Café: Un Viaje Aromático a Través de la Historia</h2>
			<p>
				En las altas tierras de Etiopía, donde las montañas se alzan
				como guardianes de una historia milenaria, se encuentra el
				origen de una de las bebidas más queridas y apreciadas en todo
				el mundo: el café. Pero no es solo una bebida; es un vínculo con
				el pasado, una tradición que ha perdurado a lo largo de los
				siglos y una parte esencial de la vida cotidiana de los etíopes.
			</p>
			<h2>El Descubrimiento Mítico</h2>
			<p>
				La leyenda cuenta que fue un pastor llamado Kaldi quien, en el
				siglo IX, observó algo inusual en sus cabras. Después de comer
				las bayas rojas de un arbusto desconocido, las cabras se volvían
				más enérgicas y vivaces. Kaldi, intrigado por este
				comportamiento, decidió probar las bayas él mismo. Y así, en un
				rincón remoto de Etiopía, nació el café. Este descubrimiento no
				solo estimuló a las cabras, sino también la curiosidad y el
				paladar de los seres humanos.
			</p>
			<h2>Un Vínculo Social y Cultural</h2>
			<p>
				El café no tardó en convertirse en un lazo de unión entre las
				diversas comunidades etíopes. Inicialmente, fue consumido
				principalmente por las poblaciones musulmanas, pero su
				popularidad creció rápidamente. El café se convirtió en un
				elemento esencial de la vida cotidiana. Se sirve en todas
				partes, en todo momento y a un precio accesible. Desde las
				bulliciosas calles de Addis Abeba, la capital, hasta los
				rincones más remotos del país, el aroma del café tostado
				impregna el aire y crea una sensación de comunidad
			</p>
			<h2>Ceremonia del Cáfe</h2>
			<p>
				Los días festivos en Etiopía están marcados por una compleja
				ceremonia del café. Las amas de casa y las jóvenes se preparan
				para recibir a los invitados. Las calles se llenan del aroma del
				café tostado en casa, mezclado con el dulce perfume del
				incienso. La cafetera o djebena, un recipiente de terracota con
				cuello largo, se llena de agua y se coloca sobre el fuego. Los
				granos de café se machacan en un mortero, y el polvo molido se
				vierte en la cafetera. El agua hierve a la temperatura ideal de
				91 °C en las zonas altas de Etiopía. Finalmente, la bebida se
				vierte en pequeñas tazas sin asas y de borde acampanado. Es un
				ritual que combina elegancia, tradición y hospitalidad
			</p>
			<h2>El Café: Un Testigo de la Historia</h2>
			<p>
				Hoy en día, cuando sostenemos una taza de café entre nuestras
				manos, estamos bebiendo más que una infusión. Estamos saboreando
				siglos de cultura, descubrimiento y conexión humana. El café es
				un testigo silencioso de la historia, una bebida que ha viajado
				desde las montañas etíopes hasta los cafés parisinos y las
				esquinas de Nueva York. Así que la próxima vez que disfrutes de
				tu café matutino, recuerda que estás participando en una
				tradición que ha unido a generaciones y continúa haciéndolo.
				¡Salud! ☕🌍
			</p>
		</article>
		<Footer />
	</body>
</html>
