---
import Navigation from "./Navigation.astro";
---

<div class="block items-center justify-between bg-black text-white pt-4 pb4">
    <a class="text-center" href="/">
        <h1 class="text-xl p-4">
            vBlog <span class="titulo-span-footer">DeCafé</span>
        </h1>
    </a>
    <Navigation />
</div>
