---
const plataform = ["Instagram", "Tik-tok", "YouTube"];
const username = "vblogdecafe";
---

<footer>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae corrupti
        neque temporibus facilis, provident totam asperiores ullam qui odio
        voluptates rerum quas eius, in perspiciatis, necessitatibus mollitia
        quod cum quis.
    </p>
</footer>
